{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<h2>general information</h2>
<p>this website contains recipes that have become staples in my kitchen. it is pretty rare that i follow a recipe 1:1 so i have catalogued them here with my modificaions to make it easier for me to reference. original recipes will be credited in the "notes" section assuming i didn't come up with the recipe myself</p>
<b>ingredients:</b>
<table>
  <tr>
    <td>head roast garlic</td>
    <td>can usually be substituted for 3-5 cloves of minced garlic if you are short on time. don't forget to cook the garlic obviously. garlic paste will also work</td>
  </tr>
  <tr>
    <td>onions</td>
    <td>in general i will always cook onions until they have browned a bit, if you are short on time you can cook them for less time but obviously there will be more of a raw onion flavour</td>
  </tr>
</table>

<ul>
  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->  
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}